<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-1.8.0.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <style type="text/css">
        /* 半透明的遮罩层 ajax请求用 */
        #loading {
            background: #000;
            filter: initial; /* IE的透明度 */
            opacity: 0.3; /* 透明度 */
            display: none;
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            z-index: 100000; /* 此处的图层要大于页面 */
        }
            #loading img {
                width: 124px;
                height: 124px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -62px;
                margin-top: -62px;
            }
    </style>

</head>
<body>
        @RenderBody()
    <div id="loading">
        <img src="~/images/book1.jpg" />
    </div>

</body>

@RenderSection("scripts", required: false)
<script type="text/javascript">
    //文档加载完毕后执行的代码
    $(document).ready(function () {
        //ajax请求开始显示loading
        $(document).ajaxStart(function (option) {
            $("#loading").css("height", $(document).height());
            $("#loading").show();
        });

        //ajax请求结束隐藏loading
        $(document).ajaxStop(function (option) {

            alert("加载结束");
            $("#loading").hide();
        });
    });

    

</script>

</html>