@model IEnumerable<DBLibrary.Books>
@{
    ViewBag.Title = "BookList";
}
@section css{
    <link rel="stylesheet" href="~/CSS/BookList.css">
    <link rel="stylesheet" href="~/CSS/SearchBar.css">
}
<h2>BookList</h2>

<form id="SearchBar">
    <input type="text" name="input" class="input" id="search-input">
    <button type="reset" class="search" id="search-btn"></button>
</form>
<div class="bookshelf">
    <div class="book-grid">
        @for (var i = 0; i < Model.Count(); i++)
        {
            <ul>
                @for (int j = 0; j < 3; j++)
                {
                    var book = Model.ToList()[i];
                    i++;
                    <li><img src="@Html.DisplayFor(modelItem => book.BookCoverUrl)" /></li>
                }
            </ul>
            <div class="shelf-shadows"></div>
            <div class="shelf"></div>
        }
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        // updated 2019
        const input = document.getElementById("search-input");
        const searchBtn = document.getElementById("search-btn");

        const expand = () => {
            searchBtn.classList.toggle("close");
            input.classList.toggle("square");
        };

        searchBtn.addEventListener("click", expand);

    </script>
}