@{
    ViewBag.Title = "Login";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>登录视图</title>
<style>
    body {
        font-family: Arial, sans-serif;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    label {
        margin-top: 10px;
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    button {
        width: 100%;
        padding: 7px 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 16px;
    }
        button:hover {
            background-color: #0056b3;
        }
</style>


<form method="post">

    <label for="UserID">用户名：</label>
    <div>用户名：<input type="text" name="UserID" /></div>
    <br>
    <label for="password">密码：</label>
    <div>密码：<input type="text" name="password" /></div>
    <br>
    <button type="submit">登录</button>
    <a>忘记密码？</a>@Html.ActionLink("注册", "Regist", "Login")

    @Html.ActionLink("向我留言", "MessageBoard", "Component")
    @Html.ActionLink("json测试", "jsonTest", "Component")
</form>

