@{
    ViewBag.Title = "MessageBoard";
}
<h2>MessageBoard</h2>
<div id="About">
    @Ajax.ActionLink("click here", "Message", "Component",
    new AjaxOptions
    {
        UpdateTargetId = "Message",

        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Get"
    });
</div>
<div>============================</div>
<div id="Message">
</div>

<div>============================</div>
<div>ajax.beginForm的使用</div>
@using (Html.BeginForm("leaveMessageAjax", "Component", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    <div>用户名：<input type="text" name="userName" /></div>
    <div>留言：<textarea name="message"></textarea> </div>
    <div><input type="file" name="headerImg" /></div>
    <div>
        <input type="submit" class="submitAjax" value="提交" />
    </div>

}

<div>============================</div>
<div id="showMessage">
</div>

<div>============================</div>
<div>
    <h3>提交的留言如下：</h3>
    <div>============================</div>
    <div id="LastMessage"></div>
</div>
<div>============================</div>
@using (Ajax.BeginForm("MessageBoard",
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "LastMessage"
    }))
{
    <label>标题：</label>
    <input type="text" name="yTitle">
    <label>Email：</label>
    <input type="text" name="yEmail">
    <label>QQ：</label>
    <input type="text" name="yQQ">
    <label>内容：</label>
    <input type="text" name="ycontent">
    <input type="submit" value="提交" id="submit">
}

@section Scripts{
    <script type="text/javascript" src="/Scripts/jquery.form.js"></script>
    <script type="text/javascript" src="/Scripts/lib.js"></script>
    <script type="text/javascript">
        //文档加载完毕后执行的代码
        //$(document).ready(function () {
        //ajax提交form
        $(".submitAjax").click(function () {
            alert("1");
            $("form").ajaxSubmit({
                url: '/Component/leaveMessageAjax',
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    $("#showMessage").append(res.message);
                }
            });
            return false;
        });
                        /* return false;*/
                 //});
    </script>

}