
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ex01</title>
    <style type="text/css">
        *
        {
            padding:0px;
            margin:0px;
        }
        ul {
            width:300px;
            border-top: 5px solid red;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
            margin-left:auto;
            margin-right:auto;
        }
        li{
            list-style-type:none;
            height:50px;
            line-height:50px;
            font-size:14pt;
            padding-left:20px;
        }
            li.first {
                border-bottom: 1px solid black;
                font-weight:800;
            }
    </style>
</head>
<body>
    <div> 
        <ul>
            <li class="first">教程</li>
            <li>舍得离开解放立刻集散地</li>
            <li>舍得离开解放立刻集散地</li>
            <li>舍得离开解放立刻集散地</li>
            <li>舍得离开解放立刻集散地</li>
            <li>舍得离开解放立刻集散地</li>
            <li>舍得离开解放立刻集散地</li>
        </ul>
    </div>
</body>
</html>
