
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ex03</title>
    <style type="text/css">
        * {  padding:0px; margin:0px; }
        .ex03 {
            border: 1pt solid black; box-sizing: border-box;
            width: 330px;  height:280px; padding: 10px;
            margin-left: auto;  margin-right: auto;position: relative;
        }
        .ex03 .top{  position:absolute;  top:0px;  left:0px; }
    </style>
</head>
<body>
    <div class="ex03"> 
        <img class="top" src="/ex/images-16/top_tu.gif" />
        <img src="/ex/images-16/adv.jpg" />
        <div>
            <div style="float:left;">
                <span style="font-size:20pt; color:red; font-weight:700">
                    &yen;20.8
                </span>
                <span style="font-size:13pt; color:aqua;">
                    原价&yen;38
                </span>
            </div>
            <div style="float:right;">
                <img src="/ex/images-16/see.jpg" />
            </div>
        </div>
    </div>
</body>
</html>
