
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>jq02</title>
    <script src="/Content/scripts/jquery-1.12.4.js" type="text/javascript"></script>
    <style type="text/css">
        * {  padding: 0px;  margin: 0px;  }
        .jq02 {
            width: 200px;
            height: 200px;
            border: 1pt solid black;
        }
        .jq02 li {
            float: left;
            margin-right: 15px;
            list-style-type: none;
            height: 35px;
            margin-left:10px;
        }
        .active{color:red; font-weight:800;}
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".jq02 li").eq(0).addClass("active");
            $(".jq02 div").eq(0).show().siblings("div").hide();
            $("li").click(function () {
                var index = $(".jq02 li").index($(this));
                $(".jq02 li").eq(index).addClass("active").siblings("li").removeClass("active");
                $(".jq02 div").eq(index).show().siblings("div").hide();
            });
        });
    </script>
</head>
<body>
    <div class="jq02">
        <ul style="overflow:hidden;">
            <li>栏目1</li>
            <li>栏目2</li>
            <li>栏目3</li>
        </ul> 
        <div>
            栏目1的内容
        </div>
        <div>
            栏目2的内容
        </div>
        <div>
            栏目3的内容
        </div>
    </div>
</body>
</html>
